@using Project.Models;
@model IEnumerable<ApplicantVacancyDto>;
@section HeaderContent {
    <link href="~/assets/admin/css/table.css" rel="stylesheet">
}
<div class="pagetitle">
    <h1>Applicants Vacancies Table</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Human Resource</li>
            <li class="breadcrumb-item active">Applicants Vacancies</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Manage Applicants Vacancies</h5>
                <!-- Table with stripped rows -->
                <table class="table datatable table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th>Applicant Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    <img src="~/@item.Applicant!.Image" />
                                </td>
                                <td>@Html.DisplayFor(j=>item.Applicant!.Fullname)</td>
                                <td>@Html.DisplayFor(j=>item.Applicant!.Email)</td>
                                <td>@Html.DisplayFor(j=>item.Applicant!.Phone)</td>
                                <td>@Html.DisplayFor(j=>item.Applicant!.Province)</td>
                                <td>
                                    @{
                                        switch (item.StatusApplicant_Id.ToString())
                                        {
                                            case "1":
                                                <span class="badge bg-warning">@Html.DisplayFor(modelItem => item.StatusApplicant!.Name)</span>
                                                break;  
                                            case "2":
                                                <span class="badge bg-primary">@Html.DisplayFor(modelItem => item.StatusApplicant!.Name)</span>
                                                break;
                                            case "3":
                                                <span class="badge bg-success">@Html.DisplayFor(modelItem => item.StatusApplicant!.Name)</span>
                                                break;
                                            case "4":
                                                <span class="badge bg-danger">@Html.DisplayFor(modelItem => item.StatusApplicant!.Name)</span>
                                                break;
                                           
                                        }
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-primary rounded-pill" href="@Url.Action("Detail", "ApplicantVacancy", new {id = item.Id})">Detail</a>
                                </td>
                            </tr>
                            
                        }

                    </tbody>
                </table>
                <!-- End Table with stripped rows -->

            </div>
        </div>

    </div>
</div>
</section>
