@using Project.Models;
@model IEnumerable<ApplicantVacancyDto>;
@section HeaderContent {
    <link href="~/assets/admin/css/table.css" rel="stylesheet">
}
<div class="pagetitle">
    <h1>Applicants Vacancies Tables</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active">Applicants Vacancies</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Manage Applicants Vacancies</h5>
                <!-- Table with stripped rows -->
                <table class="table datatable table-hover table-sm">
                    <thead>
                        <tr>
                            <th>Photo</th>
                            <th><b>N</b>ame Applicant</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    <img src="~/@item.Applicant!.Image" />
                                </td>
                                <td>@Html.DisplayFor(j=>item.Applicant!.Fullname)</td>
                                <td>@Html.DisplayFor(j=>item.Applicant!.Email)</td>
                                <td>@Html.DisplayFor(j=>item.Applicant!.Phone)</td>
                                <td>@Html.DisplayFor(j=>item.Applicant!.Province)</td>
                                <td>@Html.DisplayFor(j=>item.StatusApplicant!.Name)</td>
                            </tr>
                        }

                    </tbody>
                </table>
                <!-- End Table with stripped rows -->

            </div>
        </div>

    </div>
</div>
</section>
