@using Project.Models;
@model IEnumerable<JobDto>;

@section HeaderContent {
     td:first-child , th:first-child {
     display: none;
    }
}

<div class="pagetitle">
    <h1>Jobs Table</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active">Job</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Manage Jobs</h5>
                <p>
                    "Manage Jobs" provides a comprehensive dashboard to oversee, edit, and track job listings efficiently, ensuring seamless management of tasks and applications
                </p>
                <a asp-controller="Job" asp-action="Upsert" class="text-white btn btn-success rounded-pill">Add New</a>
                @if (TempData["AlertMessageJob"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                        @TempData["AlertMessageJob"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                <!-- Table with stripped rows -->
                <table class="table datatable table-hover table-sm">
                    <thead>
                        <tr >
                            <th></th>
                            <th>Id</th>
                            <th><b>N</b>ame</th>
                            <th>Department</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                        <tr>
                        <td></td>
                        <td>@Html.DisplayFor(j=>item.Id)</td>
                        <td>@Html.DisplayFor(j=>item.Name)</td>
                        <td>@Html.DisplayFor(j=>item.Department!.Name)</td>
                        <td>
                            <a class="text-white btn btn-primary rounded-pill" href="@Url.Action("Upsert", "Job", new { id = item.Id })">Edit</a>
                            <a class="text-white btn btn-danger rounded-pill" href="@Url.Action("Delete", "Job", new { id = item.Id })">Delete</a>
                        </td>
                        </tr>
                        }

                    </tbody>
                </table>
                <!-- End Table with stripped rows -->

            </div>
        </div>

    </div>
</div>




