@model IEnumerable<Project.Models.DepartmentDto>

@section HeaderContent {
     td:nth-child(1) , td:nth-child(2) , th:nth-child(1) , th:nth-child(2) {
     display: none;
    }
}





<div class="pagetitle">
    <h1>Departments Table</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active">Department</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Manage Departments</h5>
                <p>
                    The "Manage Departments" section enables you to organize, edit, and oversee various departments within your organization efficiently.
                </p>
                <a asp-controller="Department" asp-action="Upsert" class="text-white btn btn-success rounded-pill">Add New</a>
                @if (TempData["AlertMessage"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                        @TempData["AlertMessage"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                <!-- Table with stripped rows -->
                <table class="table datatable">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>
                                Id
                            </th>
                            <th>
                                Name
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Department_Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <a class="text-white btn btn-primary rounded-pill" href="@Url.Action("Upsert", "Department", new { id = item.Department_Id })">Edit</a>
                                    <a class="text-white btn btn-danger rounded-pill" href="@Url.Action("Delete", "Department", new { id = item.Department_Id })">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- End Table with stripped rows -->

            </div>
        </div>

    </div>
</div>