@model IEnumerable<Project.Models.ApplicantVacancyDto>

@{
    ViewData["Title"] = "Detail";
    Vacancy? vacancy = ViewData["Vacancy"] as Vacancy;
}
@section HeaderContent {
    <link href="~/assets/admin/css/table.css" rel="stylesheet">
}

<div class="pagetitle">
    <h1>Applicants - Vacancy Table</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active">Applicants - Vacancy</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                @if (TempData["AlertMessageVacancy"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                        @TempData["AlertMessageVacancy"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                <h5 class="card-title">Manage Applicants - Vacancy</h5>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-sm-5">
                                Vacancy Id
                            </dt>
                            <dd class="col-sm-7">
                                @vacancy!.Vacancy_Id
                            </dd>
                            <dt class="col-sm-5">
                                Department
                            </dt>
                            <dd class="col-sm-7">
                                @vacancy.Department!.Name
                            </dd>
                            <dt class="col-sm-5">
                                Position
                            </dt>
                            <dd class="col-sm-7">
                                @vacancy.Position!.Name
                            </dd>
                            <dt class="col-sm-5">
                                Status
                            </dt>
                            <dd class="col-sm-7">
                                @vacancy.StatusVacancy!.Name
                            </dd><dt class="col-sm-5">
                                Skills
                            </dt>
                            <dd class="col-sm-7">
                                @foreach (var item in @vacancy.VacanciesSkills!)
                                {
                                    <span style="background: #eaeaea;padding: 7px;border-radius: 7px;">@item.Skill!.Name</span>
                                }
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-sm-5">
                                Actual Quantity
                            </dt>
                            <dd class="col-sm-7">
                                @vacancy.ActualQuantity
                            </dd>
                            <dt class="col-sm-5">
                                Quantity
                            </dt>
                            <dd class="col-sm-7">
                                @vacancy.Quantity
                            </dd>
                            <dt class="col-sm-5">
                                Salary
                            </dt>
                            <dd class="col-sm-7">
                                @vacancy.Salary
                            </dd>
                            <dt class="col-sm-5">
                                Place
                            </dt>
                            <dd class="col-sm-7">
                                @vacancy.Place
                            </dd>
                        </dl>
                    </div>
                </div>
                <hr />
                <dl class="row my-5" style="height: 400px;overflow: auto">
                    <dt class="col-sm-2">
                        Requirement
                    </dt>
                    <dd class="col-sm-10">
                        @Html.Raw(vacancy.Requirement)
                    </dd>
                    <hr />
                    <dt class="col-sm-2">
                        Description
                    </dt>
                    <dd class="col-sm-10">
                        @Html.Raw(vacancy.Description)
                    </dd>
                    <hr />
                    <dt class="col-sm-2">
                        Benefits
                    </dt>
                    <dd class="col-sm-10">
                        @Html.Raw(vacancy.Benefits)
                    </dd>
                </dl>
                <hr />
                <h3>List of all job applicants who applied for the vacancy</h3>
                <table class="table datatable table-hover table-sm table-applicant-vacancy">
                    <thead>
                        <tr>
                            <th>
                                Info
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Phone
                            </th>
                            <th>
                                Address
                            </th>
                            
                            <th>
                                CV
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model) {
                            <tr>
                                
                                <td>
                                    <img src="~/@item.Applicant!.Image" />
                                    <span>
                                        @Html.DisplayFor(modelItem => item.Applicant!.Fullname)
                                    </span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Applicant!.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Applicant!.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Applicant!.Province)
                                </td>
                                <td>
                                    <form asp-action="Download" method="post" asp-route-id="@item.Id">
                                        <button class="text-white btn btn-primary">Download</button>
                                    </form>
                                </td>
                                <td>
                                    @if(vacancy.StatusVacancy_Id != 2){
                                        <a class="text-white btn btn-success rounded-pill" href="@Url.Action("AsignInterview", "Vacancy" , new { idOfApplicantVacancy = item.Id , idOfVacancy = vacancy.Vacancy_Id})">Accept</a>
                                        //<a class="text-white btn btn-success rounded-pill" href="@Url.Action("ChangeStatus", "Vacancy", new { idOfApplicant = item.Id , idOfVacancy = vacancy.Vacancy_Id , idOfStatus = 2})">Accept</a>
                                        <a class="text-white btn btn-danger rounded-pill" href="@Url.Action("Reject", "Vacancy", new { idOfApplicantVacancy = item.Id , idOfVacancy = vacancy.Vacancy_Id})">Ban</a>
                                    }
                                    
                                </td>
                            </tr>
                    }
                    </tbody>
                </table>

                <!-- End Table with stripped rows -->
                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
        
    </div>
    
</div>
