@inject UserManager<AppUser> UserManager
@section HeaderContent {
    <link href="~/assets/admin/css/table.css" rel="stylesheet">
}
@{
    ViewData["Title"] = "Index";
    var user = await UserManager.GetUserAsync(User);
}
@model IEnumerable<Project.Models.VacancyDto>;


<div class="pagetitle">
    <h1>Vacancies Table</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item">Human Resource</li>
            <li class="breadcrumb-item active">Vacancies</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Manage Vacancies</h5>
                <a asp-controller="Vacancy" asp-action="Upsert" class="text-white btn btn-success rounded-pill">Add New</a>                
                @if (TempData["AlertMessageVacancy"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                        @TempData["AlertMessageVacancy"]
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                <table class="table datatable table-hover table-sm">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Creator
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Department
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vacancy_Id)
                                </td>
                                <td>
                                    <img src="~/@Html.DisplayFor(modelItem => item.AppUser!.Image)" width="50" />
                                    <span>@Html.DisplayFor(modelItem => item.AppUser!.Fullname)</span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AppUser!.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Department!.Name)
                                </td>
                                <td>
                                    @if (item.StatusVacancy_Id == 1)
                                    {
                                        <span class="badge bg-primary">@Html.DisplayFor(modelItem => item.StatusVacancy!.Name)</span>
                                    }
                                    else if (item.StatusVacancy_Id == 2)
                                    {
                                        <span class="badge bg-danger">@Html.DisplayFor(modelItem => item.StatusVacancy!.Name)</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-warning">@Html.DisplayFor(modelItem => item.StatusVacancy!.Name)</span>
                                    }

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ActualQuantity)/@Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>

                                    @if (user != null && user.Id == item.Hr_Id)
                                    {
                                        @if(item.StatusVacancy_Id != 2){
                                            <a class="text-white btn btn-warning rounded-pill" href="@Url.Action("Upsert", "Vacancy", new { id = item.Vacancy_Id })">Edit</a>
                                        }
                                            <a class="text-white btn btn-primary rounded-pill" href="@Url.Action("Detail", "Vacancy", new { id = item.Vacancy_Id })">Access</a>
                                        

                                    }
                                    else{
                                        <a class="text-danger">Not Assess</a>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- End Table with stripped rows -->

            </div>
        </div>

    </div>
</div>


